.c-search-field {
    $icon-width: rem-calc(40px);

    position: relative;
    display: inline-flex;

    &__input {
        width: rem-calc(184px);
        padding-right: $icon-width;
    }

    &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $icon-width;
        padding: 0;

        &, &:hover {
            color: rgba($black, .3);
        }
    }
}
